.container{
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.nav{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

a{
  text-decoration: none;
  color: red;
}
.active{
  text-decoration: underline;
}